---
import { getCollection } from "astro:content";
import ProjectDate from "./ProjectDate.astro";

const projects = (await getCollection("projects")).sort((a, b) => b.data.endDate.valueOf() - a.data.endDate.valueOf());
---

{
  projects ? (
    <div>
      {projects.map((project) => (
        <article data-aos="fade-up">
          <a href={`/projects/${project.id}/`}>
            <img src={project.data.image} alt="" />
            <h2>{project.data.title}</h2>
            <p>
              <ProjectDate date={project.data.endDate} />
            </p>
          </a>
        </article>
      ))}
    </div>
  ) : null
}

<style>
  div {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--space-xl) var(--space-3xs);
  }

  article {
    grid-column: span 12;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1200 / 627;
  }

  h2 {
    font-family: var(--font-serif);
    font-size: var(--step-3);
    margin: var(--space-2xs) 0 var(--space-3xs);
  }

  p {
    color: var(--color-gray);
  }

  @media (min-width: 720px) {
    article {
      grid-column: span 6;
    }
  }
</style>
