---
import { getCollection } from "astro:content";

const posts = (await getCollection("projects")).sort((a, b) => b.data.endDate.valueOf() - a.data.endDate.valueOf());

const current = posts.findIndex((post) => post.id == Astro.params.slug);
const previous = current === 0 ? undefined : posts[current - 1];
const next = current + 1 === posts.length ? undefined : posts[current + 1];
---

{
  next || previous ? (
    <nav>
      {previous && (
        <div>
          <a href={`/projects/${previous.id}/`}>
            <p>Previous</p>
            <p class="project-nav__link">{previous.data.title}</p>
          </a>
        </div>
      )}
      {next && (
        <div class="project-nav__right">
          <a href={`/projects/${next.id}/`}>
            <p>Next</p>
            <p class="project-nav__link">{next.data.title}</p>
          </a>
        </div>
      )}
    </nav>
  ) : null
}

<style>
  a {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-s);
    margin-top: var(--space-2xl);
  }

  .project-nav__right {
    margin-left: auto;
  }

  .project-nav__link {
    text-decoration: underline;
  }

  .project-nav__link:hover {
    text-decoration: none;
  }
</style>
