---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Experiences from "@/components/home/Experiences.astro";
---

<BaseLayout>
  <div class="u-container">
    <section>
      <h1>Fathul Fahmy</h1>
      <p>Full Stack Developer</p>
    </section>

    <section>
      <h2>About</h2>
      <Experiences />
    </section>
  </div>
</BaseLayout>

<style>
  div {
    margin: var(--space-2xl) auto;
  }

  section {
    margin-bottom: var(--space-2xl);
  }

  h1,
  h2 {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: var(--step-5);
    margin-bottom: var(--space-3xs);
  }

  h2 {
    font-size: var(--step-4);
    margin-bottom: var(--space-xl);
  }

  p {
    color: var(--color-gray);
  }
</style>
