---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Projects from "@/components/projects/Projects.astro";
---

<BaseLayout>
  <div class="u-container">
    <Projects />
  </div>
</BaseLayout>
