---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Projects from "@/components/projects/Projects.astro";
---

<BaseLayout>
  <div class="u-container page__container">
    <Projects />
  </div>
</BaseLayout>

<style>
  .page__container {
    margin: var(--space-2xl) auto;
  }
</style>
