---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <p class="header__site-title"><a href="/">{SITE_TITLE}</a></p>
    <div class="header__header-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    <div class="header__social-links">
      <SocialLinks />
    </div>
  </nav>
</header>

<style>
  header {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: var(--space-l) var(--space-s);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
  }

  .header__site-title,
  .header__social-links {
    display: none;
  }

  @media (min-width: 720px) {
    header {
      padding: var(--space-s);
    }

    nav {
      justify-content: space-between;
    }

    .header__site-title,
    .header__social-links {
      display: block;
    }
  }
</style>
