---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <p class="header__site"><a href="/">{SITE_TITLE}</a></p>
    <div class="header__links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/#contact">Contact</HeaderLink>
    </div>
    <div class="header__socials">
      <SocialLinks />
    </div>
  </nav>
  <style>
    header {
      padding: 2rem 1rem;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    a {
      text-decoration: none;
    }
    .icon {
      height: var(--space-l);
      width: var(--space-l);
      fill: currentColor;
    }
    .header__links a {
      padding: var(--space-xs) var(--space-s);
    }
    .header__site,
    .header__socials,
    .header__socials a {
      display: none;
    }
    @media (min-width: 720px) {
      header {
        padding: var(--space-s);
      }
      nav {
        justify-content: space-between;
      }
      .header__links a {
        padding: var(--space-xs) var(--space-l);
      }
      .header__site,
      .header__socials {
        display: block;
      }
    }
  </style>
</header>
