---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    padding: var(--space-xs) var(--space-s);
  }

  a.active {
    border: 0;
    border-radius: 99rem;
    cursor: pointer;
    background: var(--color-black);
    color: var(--color-white);
    transition: background 0.6s ease;
  }

  a.active:hover {
    background: var(--color-gray);
  }

  @media (min-width: 720px) {
    a {
      padding: var(--space-xs) var(--space-l);
    }
  }
</style>
